{% extends "base.html" %}


{% block content %}
{% include 'header.html' %}

<DIV class="container">
    <div class="card-order text-center">
        <div class="card-body" style="background-color: white;margin:20px;">
          <h5 class="card-title">Thank you</h5>
          <p class="card-text">Your order is now completed</p>
          <h5 class="card-text">Order Summary</h5>
          <a href="/" class="btn btn-primary">Click here to continue</a>
        </div>
      </div>
</div>
{% include 'footer.html' %}
{% endblock %}