{% extends "base.html" %}
{% block content %}
{% include 'header.html' %}

<DIV class=container style='padding-top: 150px; padding-bottom: 100px'>


<h1>My Cart</h1><br>

<table class="table cart-table">
  <thead>
    <tr>
      <th width="50px">Item</th>
      <th width="150px">Product Name</th>
      <th width="500px">Description</th>
      <th width="100px">Price</th>
      <th width="100px">Quantity</th>
      <th style="text-align:center;" width="100px">Total</th>
      <th width="50px">Delete</th>
    </tr>
  </thead>
  <tbody class='cart-body'>
    {% for order_item in cart.items.all %}
    <th scope="row">{{ forloop.counter }}</th>
    <td><a href='{{ order_item.item.get_absolute_url }}'>{{ order_item.item.title }}</a> </td>
    <td>{{ order_item.item.description|truncatewords:20 }}</td>
    <td>${{ order_item.item.price }}</td>
    <td align="center">{{ order_item.quantity }}</td>
    <td align="center">${{ order_item.get_total_item_price }}</td>
      <td><a href="{% url 'cart:remove-from-cart' slug=order_item.item.id %}">Remove item</a></td>
    </tr>
    {% endfor %}
    <tr>
      <td colspan="4"></td>
      <td align="right"><b>Subtotal</b></td>
      <td align="center" colspan="1">$<span class='cart-subtotal'>{{ cart.subtotal }}</span></td>
    </tr>
    <tr>
      <td colspan="4"></td>
      <td align="right"><b>Total</b></td>
      <td align="center" colspan="1">$<span class='cart-total'>{{ cart.get_total }}</span></td>
    </tr>
    <tr>
      <td colspan="5"></td>
      <td colspan="5"><a class='btn btn-lg btn-success' href='{% url "cart:checkout" %}'>Checkout</a></td>
    </tr>

  </tbody>
</table>

<div class='cart-item-remove-form' style='display:none'>

    {% include 'carts/snippets/remove-product.html' %}
  </div>


</DIV>
{% include 'footer.html' %}
{% endblock %}