{% extends "base.html" %}


{% block content %}
<DIV class=container style='padding-top: 150px; padding-bottom: 100px'>


<h1>My Cart</h1><br>

{% if cart.products.exists %}
<table class="table cart-table">
  <thead>
    <tr>
      <th>#</th>
      <th>Product Name</th>
      <th>Product Price</th>
      <th>Remove</th>
    </tr>
  </thead>
  <tbody class='cart-body'>
    {% for product in cart.products.all %}
    <tr class='cart-product'>
      <th scope="row">{{ forloop.counter }}</th>
      <td><a href='{{ product.get_absolute_url }}'>{{ product.title }}</a> </td>
      <td>{{ product.price }}</td>
      <td>{% include 'carts/snippets/remove-product.html' with product_id=product.id %}</td>
    </tr>
    {% endfor %}
    <tr>
      <td colspan="2"></td>
      <td colspan="2"><b>Subtotal</b> $<span class='cart-subtotal'>{{ cart.subtotal }}</span></td>
    </tr>
    <tr>
      <td colspan="2"></td>
      <td colspan="2"><b>Total</b> $<span class='cart-total'>{{ cart.total }}</span></td>
    </tr>
    <tr>
      <td colspan="2"></td>
      <td colspan="2"><a class='btn btn-lg btn-success' href='{% url "cart:checkout" %}'>Checkout</a></td>
    </tr>

  </tbody>
</table>

<div class='cart-item-remove-form' style='display:none'>

    {% include 'carts/snippets/remove-product.html' %}
  </div>

{% else %}
<p class='lead'>Cart is empty</p>
{% endif %}

</DIV>
{% endblock %}