<div class="card" style="width:18rem;margin:10px;max-width:18rem;">
  {% if instance.image %}
      <a href="{{ instance.get_absolute_url }}">
        <img class="card-img-top" src="{{ instance.image.url }}" alt="{{ instance.title}} " style="height: 150px;"></a>
      {% endif %}
    <div class="card-body">
      <h6 class="card-title">{{ instance.title|truncatewords:5 }}<br></h6>
      <!-- <h7>{{ instance.description|truncatewords:12 }}</h7> -->
        <h6 class="card-subtitle mb-2 text-muted">${{ instance.price }}</h6>
      <div class="text-center">
        <a href="{% url 'cart:update' %}?product_id={{instance.id}}" class="btn btn-primary">Add to cart</a>
      </div>
      <div class='text-center'>
          {% if instance.img %}
          {% include 'products/snippets/update-cart.html' with product=instance cart=cart %}
          {% endif %}
      </div>
    </div>
</div>
