.cart{
    position: relative;
    color: gray;
}
.cart span{
    background:red;
    border-radius: 999px;
    position: absolute;
    padding: 5px;
    font-size:10px;
    color:white !important;
    top: -8px;
    right: -8px; 
    line-height: 5px !important;
    text-align: center;
}

.sticky-wrapper {
    top:0 !important;
}

.header_area .navbar .nav.navbar-nav.navbar-right li:first-child {
    margin-left: 0px !important;
}

.header_area .navbar {
    height: 80px;
}

@media (min-width: 991px){
    .header_area .navbar .nav .nav-item .nav-link {
        padding: 0 10px 0 !important;
    }
}

@media (min-width: 992px){
    .header_area .navbar .nav .nav-item.submenu ul {
        top: 130% !important;
    }
}

