
.navbar-icons{
    display: flex;
    background-color: white;

    
    .navbar-item{
        display: flex;
        width:80%;
        padding: 5px 0;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex:1;

        .navbar-icon {
            display: block;
            padding: 0;
            margin: auto;

            a {
                text-decoration: none;
                color: white;   
                width: 100%;
            }
             
            a:active {
                color: black;   
            }
        }
        
        .navbar-icon-text {
            text-align: center;
            margin: auto;
            font-size: 10px;
            color: grey;
        }

        .button {
            padding: 15px;
            width:100%;
            font-size: 14px;
            text-align: center;
            text-decoration: none;
            align-items: stretch;
            cursor: pointer;
            outline: none;
            color: #fff;
            background-color: blue;
            border: none;
          }
          
          .button:hover {
              background-color: blue;
            }
          
          .button:active {
            background-color: red;
          }

   }


}

