{% extends "base.html" %}
{% load static %}

{% block content %}
{% include 'header.html' %}

<!-- start banner Area -->
<section class="banner-area">
		<div class="container">
			<div class="row fullscreen align-items-center justify-content-start">
				<div class="col-lg-12">
					<div class="active-banner-slider owl-carousel">
						<!-- single-slide -->
						<div class="row single-slide align-items-center d-flex">
							<div class="col-lg-5 col-md-6">
								<div class="banner-content">
									<h1>Yealink T42S <br>IP Phone!</h1>
									<p>16 Lines. 7-Inch Color Touch Screen Display. USB 2.0, Dual-Port Gigabit Ethernet, 802.3af PoE, Power Adapter Not Included (SIP-T48S)</p>
									<div class="add-bag d-flex align-items-center">
										<a class="add-btn" href="/cart/update/?product_id=1"><span class="lnr lnr-cross"></span></a>
										<span class="add-text text-uppercase">Add to Bag</span>
									</div>
								</div>
							</div>
							<div class="col-lg-7">
								<div class="banner-img">
									<img class="img-fluid" src="{% static 'img/banner/SIP-T48S.png' %}" alt="">
								</div>
							</div>
						</div>
						<!-- single-slide -->
						<div class="row single-slide">
							<div class="col-lg-5">
								<div class="banner-content">
									<h1>Nike New <br>Collection!</h1>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
										dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
									<div class="add-bag d-flex align-items-center">
										<a class="add-btn" href="/cart/update/?product_id=1"><span class="lnr lnr-cross"></span></a>
										<span class="add-text text-uppercase">Add to Bag</span>
									</div>
								</div>
							</div>
							<div class="col-lg-7">
								<div class="banner-img">
									<img class="img-fluid" src="{% static 'img/banner/banner-img.png' %}" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<!-- End banner Area -->

{% include 'footer.html' %}
{% endblock %}