{% load static %}
<div class="container-fluid no-gutters">
            <!-- Navigation Sidebar (Drawer)  -->
            <div class="container-fluid no-gutters">
                    <nav class="navbar fixed-top navbar-expand-lg navbar-light mobile-only" style="height: 60px;">       
                        <a class="navbar-brand" href="#" style="margin:0;">
                            <span><img class="logo" src="/static/_img/logo.png"  alt=""></span>
                            <span class=logo-text></span>
                        </a>       
                        <button type="button" id="sidebarCollapse" class="btn btn-info" style="float:right;vertical-align: middle;">
                            <i class="fas fa-align-justify"></i>
                        </button>                  
                    </nav>
                </div> 
            <nav id="sidebar">
                    <div class="sidebar-header">
                        <div id="dismiss">
                            <i class="fas fa-arrow-left"></i>
                        </div>
                        <span><img class="logo-header" src="/static/_img/logo.png"  alt=""></span>
                        <span class="logo-header-text"></span>
                    </div>
            
                <ul class="list-unstyled components">
                    <li>
                        <a href="#CoffeeSubmenu" data-toggle="collapse" aria-expanded="false">Coffee</a>
                        <ul class="collapse list-unstyled" id="CoffeeSubmenu">
                            <li>
                                <a href="#">Home 1</a>
                            </li>
                            <li>
                                <a href="#">Home 2</a>
                            </li>
                            <li>
                                <a href="#">Home 3</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#TeaSubmenu" data-toggle="collapse" aria-expanded="false">Tea</a>
                        <ul class="collapse list-unstyled" id="TeaSubmenu">
                            <li>
                                <a href="#">Page 1</a>
                            </li>
                            <li>
                                <a href="#">Page 2</a>
                            </li>
                            <li>
                                <a href="#">Page 3</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                            <a href="#PastriesSubmenu" data-toggle="collapse" aria-expanded="false">Pastries</a>
                            <ul class="collapse list-unstyled" id="PastriesSubmenu">
                                <li>
                                    <a href="#">Page 1</a>
                                </li>
                                <li>
                                    <a href="#">Page 2</a>
                                </li>
                                <li>
                                    <a href="#">Page 3</a>
                                </li>
                            </ul>
                        </li>
                    <li>
                        <a href="#">Locations</a>
                    </li>
                </ul>
                <!--         
                <ul class="list-unstyled CTAs">
                    <li>
                        <a href="#" class="article">Login</a>
                    </li>
                    <li>
                        <a href="#" class="article">Register</a>
                    </li>
                </ul> -->
            </nav>


    <nav class="navbar  fixed-top navbar-expand-lg navbar-light desktop-only">
        <div class="container narrow">
                <ul class="nav navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#"><small>Contact us</small></a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item">
                                    <a class="nav-link" href="tel:+6567335555"><small>+65 67335555</small></a>
                            </li>
                    </ul>
        </div>
        <div class="container">
            <a class="navbar-brand" href="#">
                <span><img class="logo" src="/static/_img/logo.png"  alt=""></span>
                <span class=logo-text></span>

            </a>
            <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-align-justify"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Furniture</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Accessories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sales</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/products/">Our Story</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fas fa-22 fa-user-circle"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fas fa-22 fa-heart"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/cart/"><i class="fas fa-22 fa-shopping-cart"></i>
                                {% if request.session.cart_items > 0 %}
                                    <span class="badge badge-notify"> {{ request.session.cart_items }}</span>
                                {% endif %}
                            </a>
                        </li>
                </ul>
            </div>
        </div>
    </nav>
</DIV>