{% load static %}
<nav class="navbar navbar-expand-lg navbar-light main_box">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <a class="navbar-brand logo_h" href="{% url 'homepage' %}"><img src="{% static 'img/logo.png' %}" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
         aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <ul class="nav navbar-nav menu_nav ml-auto">
                <li class="nav-item active"><a class="nav-link" href="{% url 'homepage' %}">Home</a></li>
                <li class="nav-item submenu dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                     aria-expanded="false">Shop</a>
                    <ul class="dropdown-menu">
                        <li class="nav-item"><a class="nav-link" href="category.html">Shop Category</a></li>
                        <li class="nav-item"><a class="nav-link" href="single-product.html">Product Details</a></li>
                        <li class="nav-item"><a class="nav-link" href="checkout.html">Product Checkout</a></li>
                        <li class="nav-item"><a class="nav-link" href="cart.html">Shopping Cart</a></li>
                        <li class="nav-item"><a class="nav-link" href="confirmation.html">Confirmation</a></li>
                    </ul>
                </li>
                <li class="nav-item submenu dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                     aria-expanded="false">Blog</a>
                    <ul class="dropdown-menu">
                        <li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
                        <li class="nav-item"><a class="nav-link" href="single-blog.html">Blog Details</a></li>
                    </ul>
                </li>
                <li class="nav-item submenu dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                     aria-expanded="false">Pages</a>
                    <ul class="dropdown-menu">
                        <li class="nav-item"><a class="nav-link" href="login.html">Login</a></li>
                        <li class="nav-item"><a class="nav-link" href="tracking.html">Tracking</a></li>
                        <li class="nav-item"><a class="nav-link" href="elements.html">Elements</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="/products/">Products</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" >

                {% if request.user.is_authenticated %}
                <li class="nav-item submenu dropdown"style="margin-left: 25px !important;">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                         aria-expanded="false">Account</a>
                        <ul class="dropdown-menu">
                            <li class="nav-item"><a class="nav-link" href="">Profile</a></li>
                            <li class="nav-item"><a class="nav-link" href="">Service</a></li>
                            <li class="nav-item"><a class="nav-link" href="">Invoice</a></li>
                            <li class="nav-item"><a class="nav-link" href="">Order History</a></li>
                            <li class="nav-item"><a class="nav-link" href="">Tickets</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                        </ul>
                    </li>                
                {% else %}
                <li class="nav-item" >
                        <li class="nav-item"><a class="nav-link" href="{% url 'accounts:login' %}">Login</a></li>
                </li>
                {% endif %}
                <li class="nav-item" >
                        <a href="{% url 'cart:home' %}">
                        <div class="cart">
                                <i class="fa" style="font-size:18px">&#xf07a;</i>
                                <span class="navbar-cart-count"> {{ request.session.cart_items }} </span>
                                </div>
                        </a>
                </li>
            </ul>
        </div>
    </div>
</nav>